.left-drawer-container {
    width: 300px !important;
    height: 100vh;
    padding: 10px 0;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ffffff;
    border-right: solid 2.5px lightgray;
    z-index: 999;
    transition: margin-left 300ms;
    user-select: none;
}

.left-drawer-container .toggle-collapse-btn {
    width: 25px;
    height: 100px;
    background-color: lightgrey;
    position: absolute;
    top: 15px;
    right: -25px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.collapse-left-open {
    margin-left: 0 !important;
}

.collapse-left-closed {
    margin-left: -300px !important;
}

.tile-list-item {
    font-size: smaller;
    cursor: pointer;
    transition: background-color 200ms;
}

.tile-selected {
    background-color: #ddebff !important;
}

.tile-list-item:hover {
    background-color: #f5f5f5;
}

.scrollable-list {
    overflow-y: scroll;
}

.export-button {
    width: 100%;
}